ion-card img {
  width: 45px !important;
  height: 45px !important;
  border-radius: 50% !important;
  object-fit: cover !important;
  display: block;
  margin: 16px auto !important;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
