ion-card img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px; /* Opcional: esquinas redondeadas */
    display: block;
    margin: 0 auto; /* Centra la imagen */
  }