<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form (ngSubmit)="onSignUp()" #registerForm="ngForm">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="nombre" name="nombre" required></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Matrícula</ion-label>
      <ion-input [(ngModel)]="matricula" name="matricula" type="number" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Grupo</ion-label>
      <ion-input [(ngModel)]="grupo" name="grupo" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Grado</ion-label>
      <ion-input [(ngModel)]="grado" name="grado" type="number" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input [(ngModel)]="email" name="email" type="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input [(ngModel)]="password" name="password" type="password" required></ion-input>
    </ion-item>

    <ion-button type="submit" expand="full" [disabled]="registerForm.invalid">Registrarse</ion-button>
  </form>
</ion-content>
