<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Sign-up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sign-up</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
      <!-- Campo para el email -->
      <div class="mb-6">  
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email address {{this.email}}</label>
        <input type="email" id="email" name="email" [(ngModel)]="email" 
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full"
          placeholder="john.doe@company.com" required #emailInput="ngModel" />
        <div  style="color: red;">Please enter a valid email address.</div>
      </div>

            <!-- Campo para el password -->
            <div class="mb-6">
              <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
              <input type="password" id="password" name="password" [(ngModel)]="password" 
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full"
                placeholder="......" required #passwordInput="ngModel" />
            </div>
      
            <!-- Botón de login -->
            <button type="submit" class="create-account-btn" [disabled]="registerForm.invalid">
              Crear Cuenta
            </button>
          </form>

            <button (click)="onSignUp()" class="go-to-login-btn">
              Go to Login
            </button>
      
      
      
  </ion-content>
</ion-content>