<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Sign-up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sign-up</ion-title>
    </ion-toolbar>
  </ion-header>

  <form (ngSubmit)="onSubmit()" #registerForm="ngForm" class="p-4">
    
    <!-- Imagen del Logo -->
    <img src="assets/LogoUsuario.png" alt="Logo Vocani Robotics" class="w-85 h-85 mt-[-60px]" />

    <!-- Nombre -->
    <div class="mb-4">
      <label for="name">Nombre completo</label>
      <input type="text" id="name" name="name" [(ngModel)]="name" required
        class="block w-full border border-gray-300 rounded px-3 py-2" />
    </div>

    <!-- Matrícula -->
    <div class="mb-4">
      <label for="matricula">Matrícula</label>
      <input type="text" id="matricula" name="matricula" [(ngModel)]="matricula" required
        class="block w-full border border-gray-300 rounded px-3 py-2" />
    </div>

    <!-- Grado y Grupo -->
    <div class="mb-4">
      <label for="gradoGrupo">Grado y Grupo</label>
      <input type="text" id="gradoGrupo" name="gradoGrupo" [(ngModel)]="gradoGrupo" required
        class="block w-full border border-gray-300 rounded px-3 py-2" />
    </div>

    <!-- Email -->
    <div class="mb-4">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" [(ngModel)]="email" required
        class="block w-full border border-gray-300 rounded px-3 py-2" />
    </div>

    <!-- Password -->
    <div class="mb-6">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" [(ngModel)]="password" required
        class="block w-full border border-gray-300 rounded px-3 py-2" />
    </div>

    <!-- Submit -->
    <button type="submit" class="create-account-btn" [disabled]="registerForm.invalid">
      Crear Cuenta
    </button>
  </form>

  <button (click)="onSignUp()" class="go-to-login-btn">
    Go to Login
  </button>
</ion-content>
