<ion-header>
  <ion-toolbar>
    <ion-title>Formulario de Alquiler</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <form [formGroup]="rentalForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="stacked">Grado - Grupo</ion-label>
      <ion-input type="text" formControlName="gradeGroup"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label position="stacked">Matrícula</ion-label>
      <ion-input
        type="number"
        formControlName="matricula"
        min="1"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label position="stacked">Fecha de salida</ion-label>
      <ion-input type="date" formControlName="rentalDate"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label position="stacked">Persona responsable (Tutor)</ion-label>
      <ion-input type="text" formControlName="responsiblePerson"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label position="stacked">Fecha término</ion-label>
      <ion-input type="date" formControlName="returnDate"></ion-input>
    </ion-item>

    <h2>Materiales Solicitados</h2>
    <ion-list>
      <ion-item *ngFor="let item of requestedItems">
        <ion-label>
          <strong>{{ item.name }}</strong><br>
          Cantidad: {{ item.quantity }}
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-button expand="full" type="submit" [disabled]="!rentalForm.valid">Enviar</ion-button>  
  </form>
</ion-content>
