<ion-header>
  <ion-toolbar>
    <ion-title>Formulario de Alquiler</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <form [formGroup]="rentalForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input formControlName="name" readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Matrícula</ion-label>
      <ion-input formControlName="matricula" readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Grado y Grupo</ion-label>
      <ion-input formControlName="gradeGroup" readonly></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Fecha de renta</ion-label>
      <ion-input type="date" 
      formControlName="rentalDate" 
          [min]="today"
    [max]="rentalForm.value.returnDate || null"
    (ionChange)="onRentalDateChange()">
      </ion-input>
    </ion-item>
    <div *ngIf="rentalForm.get('rentalDate')?.hasError('startBeforeToday')">
      
      <ion-text color="danger">La fecha de inicio no puede ser antes de hoy.</ion-text>
    </div>


    <ion-item>
      <ion-label position="stacked">Fecha término</ion-label>
      <ion-input type="date" 
      formControlName="returnDate"
      [min]="rentalForm.value.rentalDate || null">
</ion-input>
    </ion-item>
    <div *ngIf="rentalForm.hasError('endSameAsStart')">
      <ion-text color="danger">La fecha de término no puede ser igual a la de inicio.</ion-text>
    </div>

    <ion-item>
      <ion-label position="stacked">Persona responsable (Tutor)</ion-label>
      <ion-select formControlName="responsiblePerson" placeholder="Selecciona un tutor">
        <ion-select-option value="Alma Reynoso Álvarez">Alma Reynoso Álvarez
        </ion-select-option>
        <ion-select-option value="Felipe de Jesús Rocha Rodríguez">Felipe de Jesús Rocha Rodríguez
        </ion-select-option>
        <ion-select-option value="Paola Lisset Santollo Vargas">Paola Lisset Santollo Vargas
        </ion-select-option>
      </ion-select>
    </ion-item>

    <h2>Materiales Solicitados</h2>
    <ion-list>
      <ion-item *ngFor="let item of requestedItems">
        <ion-label>
          <strong>{{ item.name }}</strong><br>
          Cantidad: {{ item.quantity }}
        </ion-label>
      </ion-item>
    </ion-list>


    <ion-button expand="full" type="submit" [disabled]="!rentalForm.valid">Enviar</ion-button>  
  </form>
</ion-content>
