<ion-header [translucent]="true">
  <ion-toolbar class="gradient-toolbar">
    <ion-title>
      VOCANI ROBOTICS
    </ion-title>
    <ion-buttons slot="end">
     <ion-button fill="clear" (click)="logout()">
  <ion-icon name="log-out-outline" class="white-icon"></ion-icon>
</ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">VOCANI ROBOTICS </ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Barra de búsqueda fija -->
  <div class="search-container">
    <ion-searchbar placeholder="Buscar componentes" (ionInput)="filterItems($event)"></ion-searchbar>
  </div>

  <div class="split-screen">
  <!-- Primera mitad: Lista de materiales (debe ir a la izquierda en escritorio) -->
  <div class="left-pane">
    <ion-list>
      <ion-item *ngFor="let item of filteredItems" button (click)="handleItemClick(item)">
        <ion-label class="material-label">
          <span class="material-name"><b>{{ item.name }}</b></span>
        </ion-label>
        <div class="material-quantity-circle">{{ item.quantity }}</div>
      </ion-item>
    </ion-list>
  </div>
  <!-- Segunda mitad: Materiales solicitados (debe ir a la derecha en escritorio) -->
  <div class="right-pane">
    <h2>Materiales por solicitar</h2>
    <ion-list>
      <ion-item *ngFor="let item of requestedItems; let i = index">
        <ion-label>
          <strong>{{ item.name }}</strong><br>
          Cantidad Solicitada: {{ item.quantity }}
        </ion-label>
        <ion-button color="primary" (click)="editQuantity(i)">
  <ion-icon slot="icon-only" name="create-outline"></ion-icon>
</ion-button>
<ion-button color="danger" (click)="removeItem(i)">
  <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
</ion-button>
      </ion-item>
    </ion-list>
    <p *ngIf="requestedItems.length === 0">Debes seleccionar algún material para rentar para que haya una lista.</p>
    <ion-button expand="block" class="custom-gradient-button" [disabled]="requestedItems.length === 0" (click)="goToRentalForm()">
      Continuar a Rental Form
    </ion-button>
  </div>
</div>
</ion-content>
