<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      VOCANI ROBOTICS LIST
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">VOCANI ROBOTICS LIST</ion-title>
    </ion-toolbar>
  </ion-header>


  <ul>
    <li>
      Arduino Mega2560 R3
      <ion-input type="number" placeholder="Cantidad" [(ngModel)]="quantityMega2560"></ion-input>
    </li>
    <li>
      Módulo SiM- mod. SINB00L
      <ion-input type="number" placeholder="Cantidad" [(ngModel)]="quantitySimModule"></ion-input>
    </li>
    <li>
      Capacitores electrolíticos 100uF y 10 uF
      <ion-input type="number" placeholder="Cantidad" [(ngModel)]="quantityCapacitors"></ion-input>
    </li>
    <li>
      Circuito integrado: Controladores de matriz MAX7219CNG
      <ion-input type="number" placeholder="Cantidad" [(ngModel)]="quantityMAX7219"></ion-input>
    </li>
    <li>
      Circuito integrado: Puentes H L2930
      <ion-input type="number" placeholder="Cantidad" [(ngModel)]="quantityL2930"></ion-input>
    </li>
    <li>
      Circuito Integrado: Registro de desplazamiento de serial a paralelo SN74HCS95
      <ion-input type="number" placeholder="Cantidad" [(ngModel)]="quantitySN74HCS95"></ion-input>
    </li>
    <li>
      Diodos rectificadores
      <ion-input type="number" placeholder="Cantidad" [(ngModel)]="quantityDiodes"></ion-input>
    </li>
    <li>
      Displays cuádruples
      <ion-input type="number" placeholder="Cantidad" [(ngModel)]="quantityDisplays"></ion-input>
    </li>
    <li>
      ESP32
      <ion-input type="number" placeholder="Cantidad" [(ngModel)]="quantityESP32"></ion-input>
    </li>
    <li>
      Galga Extensiométrica
      <ion-input type="number" placeholder="Cantidad" [(ngModel)]="quantityGalga"></ion-input>
    </li>
    <li>
      Hélices plásticas flexibles para servomotores
      <ion-input type="number" placeholder="Cantidad" [(ngModel)]="quantityHelices"></ion-input>
    </li>
    <li>
      Led's (varios colores)
      <ion-input type="number" placeholder="Cantidad" [(ngModel)]="quantityLEDs"></ion-input>
    </li>
    <li>
      Matriz de led Sx3/modulo MAX7219
      <ion-input type="number" placeholder="Cantidad" [(ngModel)]="quantityLedMatrix"></ion-input>
    </li>
    <li>
      Módulo adaptador/fuente de voltaje para protoboard
      <ion-input type="number" placeholder="Cantidad" [(ngModel)]="quantityAdapter"></ion-input>
    </li>
    <li>
      Módulo controlador para servos PCA9685
      <ion-input type="number" placeholder="Cantidad" [(ngModel)]="quantityPCA9685"></ion-input>
    </li>
    <li>
      Módulo Lector RFID RG522 con tarjeta
      <ion-input type="number" placeholder="Cantidad" [(ngModel)]="quantityRFID"></ion-input>
    </li>
    <li>
      Módulo relevador 1QC 3FF-S-2 SV (Arduino)
      <ion-input type="number" placeholder="Cantidad" [(ngModel)]="quantityRelay"></ion-input>
    </li>
    <li>
      Módulo Sensor TCRTS000 TRACKER SENSOR Seguidor de línea infrarrojo
      <ion-input type="number" placeholder="Cantidad" [(ngModel)]="quantitySensorLine"></ion-input>
    </li>
    <li>
      Módulo sensor de voz
      <ion-input type="number" placeholder="Cantidad" [(ngModel)]="quantityVoiceSensor"></ion-input>
    </li>
    <li>
      Módulo ZS-042 Reloj en tiempo real
      <ion-input type="number" placeholder="Cantidad" [(ngModel)]="quantityRTC"></ion-input>
    </li>
    <li>
      Módulo Shield 1293 Puente H Para Motores DC Servos Arduino
      <ion-input type="number" placeholder="Cantidad" [(ngModel)]="quantityShield"></ion-input>
    </li>
    <li>
      Protoshield Arduino Mega
      <ion-input type="number" placeholder="Cantidad" [(ngModel)]="quantityProtoshield"></ion-input>
    </li>
    <li>
      Push button Switch pulsador de 2 pines normalmente abierto
      <ion-input type="number" placeholder="Cantidad" [(ngModel)]="quantityPushButton"></ion-input>
    </li>
    <li>
      Resistencias variadas
      <ion-input type="number" placeholder="Cantidad" [(ngModel)]="quantityResistances"></ion-input>
    </li>
    <li>
      Sensor de color TCS230
      <ion-input type="number" placeholder="Cantidad" [(ngModel)]="quantityColorSensor"></ion-input>
    </li>
    <li>
      Sensor de humedad capacitivo
      <ion-input type="number" placeholder="Cantidad" [(ngModel)]="quantityCapacitiveHumidity"></ion-input>
    </li>
    <li>
      Sensor de humedad y temperatura TH11
      <ion-input type="number" placeholder="Cantidad" [(ngModel)]="quantityTH11"></ion-input>
    </li>
    <li>
      Sensores Flex 26k (Arduino)
      <ion-input type="number" placeholder="Cantidad" [(ngModel)]="quantityFlexSensors"></ion-input>
    </li>
    <li>
      Sensor Nivel de agua resistivo
      <ion-input type="number" placeholder="Cantidad" [(ngModel)]="quantityWaterLevel"></ion-input>
    </li>
    <li>
      Sensor PIR (HC.SR501)
      <ion-input type="number" placeholder="Cantidad" [(ngModel)]="quantityPIR"></ion-input>
    </li>
    <li>
      Sensor Ultrasónico
      <ion-input type="number" placeholder="Cantidad" [(ngModel)]="quantityUltrasonic"></ion-input>
    </li>
    <li>
      Servo - Mod. TowerProMG995
      <ion-input type="number" placeholder="Cantidad" [(ngModel)]="quantityServo"></ion-input>
    </li>
    <li>
      Termistores
      <ion-input type="number" placeholder="Cantidad" [(ngModel)]="quantityThermistors"></ion-input>
    </li>
    <li>Teclado matricial de membrana</li>
    <li>Transistor BC547</li>
    <li>Transistor BC557</li>
    <li>Transistores PN2222</li>
    <li>Tarjeta extensora de puertos y motores goos</li>
    <li>Servomotor ESOBA</li>
    <li>Soil humidity sensor</li>
    <li>Conectores</li>
    <li>Rain sensor</li>
    <li>Temperature sensor</li>
    <li>Wafer Terminal block</li>
    <li>Botón</li>
    <li>Motorreductores</li>
    <li>Control Paroto</li>
    <li>Leds</li>
    <li>Ruedas</li>
    <li>Cautines c/base</li>
    <li>Cutter Trupper</li>
    <li>Desoldador de succión</li>
    <li>Flexómetro Ultra</li>
    <li>Kit desarmadores de precisión 27</li>
    <li>Kit desarmadores Trupper</li>
    <li>Kit limas joyero</li>
    <li>Mini-martillo Pretul</li>
    <li>Mini-Mototool (herramienta múltiple: Cortar, perforar, lijar, etc.)</li>
    <li>Multímetro</li>
    <li>Pie de rey (calibrador)</li>
    <li>Pinzas de corte</li>
    <li>Pinzas planas</li>
    <li>Pistolas silicón</li>
    <li>Segueta con sierra</li>
    <li>Soportes escuadra de metal</li>
    <li>Pelacables</li>
    <li>Brocha p/pintura acrílica</li>
    <li>Cables varios (trozos)</li>
    <li>Cincho mini</li>
    <li>Lentes de seguridad</li>
    <li>Limpiador WD40 (Afloja-todo)</li>
    <li>Papel lija para madera</li>
    <li>Cincho chico</li>
    <li>Cincho mediano</li>
    <li>Pato de madera largos cortos</li>
    <li>Cincho grande</li>
    <li>Pegamento blanco Resistol 850</li>
    <li>Cinta adhesiva Diurex</li>
    <li>Pegamento Kola-Loka industrial</li>
    <li>Cinta aislante (negro, azul, blanco)</li>
    <li>Pegamento Pritt stick: adhesivo</li>
    <li>Cinta canela</li>
    <li>Pilas alcalinas AA</li>
    <li>Cinta de doble cara</li>
    <li>Pilas recargables 9V</li>
    <li>Cinta masking tape</li>
    <li>Pilas recargables AA</li>
    <li>Cinta para ductos (gris)</li>
    <li>Pintura acrílica</li>
    <li>Colas de pato</li>
    <li>Silicón en barras</li>
    <li>Silicón frío</li>
    <li>Ligas No. 10 (chica)</li>
    <li>Tijeras</li>
    <li>Ligas No. 18 (grande)</li>
    <li>Varios</li>
    <li>Láminas de Acrílico, MDF, Cascado de huevo para corte</li>
    <li>Velcro en cuadros</li>
    <li>Filamento para impresión 3D</li>

  </ul>
</ion-content>
