<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      VOCANI ROBOTICS LIST
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">VOCANI ROBOTICS LIST</ion-title>
    </ion-toolbar>
  </ion-header>

  <ul>
    <li>Arduino Mega2560 R3</li>
    <li>Módulo SiM- mod. SINB00L</li>
    <li>Capacitores electrolíticos 100uF y 10 uF</li>
    <li>Circuito integrado: Controladores de matriz MAX7219CNG</li>
    <li>Circuito integrado: Puentes H L2930</li>
    <li>Circuito Integrado: Registro de desplazamiento de serial a paralelo SN74HCS95</li>
    <li>Diodos rectificadores</li>
    <li>Displays cuádruples</li>
    <li>ESP32</li>
    <li>Galga Extensiométrica</li>
    <li>Hélices plásticas flexibles para servomotores</li>
    <li>Led's (varios colores)</li>
    <li>Matriz de led Sx3/modulo MAX7219</li>
    <li>Módulo adaptador/fuente de voltaje para protoboard</li>
    <li>Módulo controlador para servos PCA9685</li>
    <li>Módulo Lector RFID RG522 con tarjeta</li>
    <li>Módulo relevador 1QC 3FF-S-2 SV (Arduino)</li>
    <li>Módulo Sensor TCRTS000 TRACKER SENSOR Seguidor de línea infrarrojo</li>
    <li>Módulo sensor de voz</li>
    <li>Módulo ZS-042 Reloj en tiempo real</li>
    <li>Módulo Shield 1293 Puente H Para Motores DC Servos Arduino</li>
    <li>Protoshield Arduino Mega</li>
    <li>Push button Switch pulsador de 2 pines normalmente abierto</li>
    <li>Resistencias variadas</li>
    <li>Sensor de color TCS230</li>
    <li>Sensor de humedad capacitivo</li>
    <li>Sensor de humedad y temperatura TH11</li>
    <li>Sensores Flex 26k (Arduino)</li>
    <li>Sensor Nivel de agua resistivo</li>
    <li>Sensor PIR (HC.SR501)</li>
    <li>Sensor Ultrasónico</li>
    <li>Servo - Mod. TowerProMG995</li>
    <li>Termistores</li>
    
  </ul>
</ion-content>
