.gradient-toolbar {
  --background: none !important;
  background: linear-gradient(25deg, #8e63f8, #ff70a6, #ffc977) !important;
}

.gradient-toolbar ion-title {
  color: white !important;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}